.toggle {
   position: relative;
   width: 60px;
   height: 60px;
   background: url("../../assets/img/menu.png");
   background-repeat: no-repeat;
   background-size: 30px;
   background-position: center;
   cursor: pointer;
}

.toggle.active {
   background: url("../../assets/img/close.png");
   background-repeat: no-repeat;
   background-size: 25px;
   background-position: center;
   cursor: pointer;
}

/* .Toggle {
   @apply relative;
   @apply w-16;
   @apply h-16;
   background: url("../../assets/img/menu.png");
   @apply bg-no-repeat;
   background-size: 30px;
   @apply bg-center;
   @apply cursor-pointer;

} */