.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.menu.active {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #fff;
}

.menu ul {
  position: relative;
}

.menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}