header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


/* // .Header {
//   @apply absolute;
//   @apply top-0;
//   @apply left-0;
//   @apply w-full;
//   padding: 40px 100px;
//   @apply flex;
//   @apply items-center;
//   @apply justify-between;
//   &__logo {
//     color: #fff;
//     @apply uppercase;
//     @apply cursor-pointer;
//   }
// } */