.banner {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  transition: 0.5s;
}

.banner.active {
  right: 300px;
}

section .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 6em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text a {
  display: inline-block;
  font-size: 1.1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;

}

.text p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #fff;
}

.text p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #fff;
}


/* // .Banner {
//   @apply absolute;
//   @apply right-0;
//   @apply w-full;
//   @apply min-h-screen;
//   @apply p-[100px];
//   @apply flex;
//   @apply items-center;
//   @apply bg-[#111];
//   @apply duration-[0];
// } */